/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import 'icc/icc';
@import 'icc/style';
@import 'icc/third-party';

.version { content: '35'; }

@include tweak(center) { text-align: center; }

@include location(navigation) {
	a {
		&:hover {
			background-color: $color_beta;
		}
		
		display: inline-block;

		padding: {
			left: 15px;
			right: 15px;
		}
	}
	ul li {
		float: left;
		line-height: 2;
	}
}

@include component(section) {
	@include part(centered) {
		padding: 15px;
		margin: 0 auto;
		@include MaxWidthCollapse(960px);

		@include option(vertical) {
			  position: relative;
			  top: 50%;
			  -webkit-transform: translateY(-50%);
			  -ms-transform: translateY(-50%);
			  transform: translateY(-50%);
		}

		@include option(paddingless) {
			padding: 0px;
		}
	}

	@include option(borderless) { border-bottom: none; }
	@include option(full) {
		min-height: 100%;
		min-width: 100%;
	}


	border-bottom: 3px $color_epsilon solid;
}

@include component(snippet) {
	background-color: $color_theta;
	border: {
		top: 1px $color_epsilon dashed;
		bottom: 1px $color_epsilon dashed;
	}
	padding: 15px;
}